body{
    background-color: rgb(127, 144, 180);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.panel{
    background-color:#100835;
    width: 370px;
    margin: auto;
    margin-top: 140px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    
}

.inpt{
    border: solid thin #ddd;
    background-color: rgb(127, 144, 180); ;
    padding: 10px;
    width: 200px;
    height: 10px;
    margin-top: 10px;   
    
}

.button{
    margin-left: 249px;    
    font-weight: bold;
    font-size: 15px;
         
}

.button:hover{
    background-color: rgb(127, 144, 180); 
    
}


.btn{
    
    color :#fff; 
    text-decoration: none;
    display: inline-block;
    margin-top: 150px;
    font-weight: bold;
    font-size: 18px;
}
.btn:hover{
    color: rgb(127, 144, 180);
}
