body{
    background-color: rgb(127, 144, 180);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    background-color: rgb(215, 218, 230);
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    font-weight: bold;
}

    li {
    float: left;
}
li a {
    display: block;
    color: rgb(3, 5, 32);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

    li a:hover {
    background-color: rgb(2, 0, 24);
    color:white;
    }

#table td, #table tr{
    
    align-items: center;
}


#table{
    margin:auto;
    margin-top:30px;
    width: 40%;
        
    
}
 #table th{
    
   
    
    color: white;
  
}
